{% extends "layout.html" %}
{% block content %}
  
  <form action="{{ page_path }}" method="post">
    {{ form.title.description }}<br />
    {{ form.title.render() }}<br />
    
    {{ form.body.description }}<br />
    {{ form.body.render() }}<br />
    {{ form.active.description }} {{ form.active.render() }}<br />
    {{ form.Post.render() }}
  </form>

{% endblock %}
