{% extends "layout.html" %}
{% block content %}

  {% if google_accounts.is_current_user_admin() %}
    <div class="container">
      <div class="right">
        <form action="/" method="post">
          Create static URL 
          <input type="text" name="page" />
          <input type="submit" value="+" />
        </form>
      </div>
      <a href="/post/add">+ Add Post</a>
      <br>
    </div>
  {% endif %}

  {% for post in posts %}
    <div class="container entry">
      <h2><a href="/post/{{ post.slug }}-{{ post.key().id() }}">{{ post.title }}</a></h2>
      <div class="body">
        {{ post.body|markdown }}
      </div>

      <div class="posted">
        {{ post.datetime|datetimeformat }}<br>
      </div>
    </div>
  {% endfor %}

{% endblock %}
