<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Sibande_{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/highlight.css" type="text/css">
    <link rel="stylesheet" href="/static/css/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31452593-1']);
      _gaq.push(['_setDomainName', 'sibande.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

    {% macro with_errors(field) %}
      <div class="form_field">
	{% if field.errors %}
          {% set css_class = 'has_error ' + kwargs.pop('class', '') %}
	  {{ field(class=css_class, **kwargs) }}
	  <ul class="errors">{% for error in errors %}<li>{{ error|e }}</li>{% endfor %}</ul>
	{% else %}
          {{ field(**kwargs) }}
	{% endif %}
      </div>
    {% endmacro %}

    <div id="menu">
      <ul>
        <li><a href="/">Home</a></li>
        {% for page in static_pages %}
	  <li><a href="/{{ page.name }}">{{ page.label }}</a></li>
	{% endfor %}
      </ul>
    </div>

    <div id="content">
      <h1 id="title"><a class="large loud" href="/">Sibande_</a></h2>
      {% block content %}{% endblock %}

      <hr>
      &copy; Copyright 2012 by <a href="mailto:me@sibande.com">Jose Sibande</a>.

      <div class="hide">
        {% if google_accounts.get_current_user() %}
	  <a href="{{ google_accounts.create_logout_url('/') }}">Logout</a> ({{ google_accounts.get_current_user().nickname() }})
        {% else %}
	  <a href="{{ google_accounts.create_login_url('/') }}">Login</a>
        {% endif %}
      </div>
    </div>
  </body>
</html>
